.container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 100%;
  width: 100%;
  gap: 1rem;
  overflow-y: auto;
}

.mainCont {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
  margin: 1rem 0.5rem;
  height: 97%;
  overflow-y: auto;
  background-color: #00000060;
  border-radius: 1rem;
}

.sliders {
  display: none;
}

.arrowBtn {
  display: none;
  width: 100%;
  height: 100%;
  font-size: 52px;
  background-color: rgba(72, 72, 72, 0.123);
  cursor: pointer;
  border: none;
  transition: all 250ms ease-in-out;
  color: white;
}

.arrowBtn:hover {
  transform: scale(1.02);
  background-color: rgba(72, 72, 72, 0.76);
}

.h2Header {
  font-size: 32px;
  text-align: center;
  letter-spacing: 1px;
}

/* SELECT TASKS */
.selectTasks {
  width: calc(90% - 50px);
  font-size: 28px;
  text-align: center;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  background-color: rgba(72, 72, 72, 0.76);
  color: white;
  border: none;
  cursor: pointer;
}

.optionsBtn {
  border: none;
  background-color: transparent;
  font-size: 42px;
  right: 2rem;
  position: absolute;
  transition: all 300ms ease-in-out;
}

.optionsBtn:hover {
  transform: scale(1.03);
}

/* ADD BUTTONS AFTER SELECT */

.cntDivBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  padding: 1rem;
  gap: 1rem;
  background-color: rgba(72, 72, 72, 0.76);
  border-radius: 1rem;
  width: 98%;
  margin: 2rem auto 0 auto;
}

.divButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.divButtons > button {
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: none;
  transition: all 200ms ease-in-out;
  font-size: 32px;
  padding: 1rem 0.5rem;
}

.divButtons > button:hover {
  transform: scale(1.05);
}

.people {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.people > img {
  width: 55px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  margin-left: -1.5rem;
  z-index: 2;
}

.people > img:first-child {
  margin-left: -0.5rem;
}

.numOfPeople {
  width: 55px;
  height: 55px;
  letter-spacing: 2px;
  font-size: 16px;
  border-radius: 100%;
  margin-left: -1rem;
}

.addNewMainTaskBtn {
  border: none;
  background-color: transparent;
  font-size: 42px;
  padding: 1rem 1rem 0 0;
}

/* CREATE TASK FROM */

.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 50%;
  background-color: rgba(72, 72, 72, 0.76);
  padding: 2rem;
  height: 500px;
  margin: 0 auto;
  border-radius: 1rem;
  color: white;
}

.closeAndCreateBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.closeAndCreateBtns > button {
  cursor: pointer;
  user-select: none;
  letter-spacing: 1px;
  font-weight: bolder;
  padding: 0.5rem 1.5rem;
  background-color: antiquewhite;
  border-radius: 0 0.5rem 0.5rem 0;
  transition: all 200ms ease-in-out;
  font-size: 25px;
}

.closeAndCreateBtns > button:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 31px 0px rgba(255, 255, 255, 0.4);
}

.create > select {
  width: 50%;
}

.divInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.divInputs > label {
  letter-spacing: 4px;
  border-bottom: solid #45f3ff 2px;
  text-align: center;
  transition: all 300ms ease-in-out;
  font-weight: bolder;
  font-size: 32px;
}

.divInputs > textarea {
  text-align: center;
  border-radius: 0.5rem;
  min-width: 100px;
  min-height: 40px;
  max-width: 460px;
  max-height: 100px;
  border: none;
  font-size: 28px;
  transition: all 300ms ease-in-out;
}

.divInputs > textarea:focus {
  width: 100%;
  border-radius: 1rem;
  background-color: black;
  color: white;
  box-shadow: 10px 10px 31px 0px rgba(255, 255, 255, 0.4);
  margin-top: 0.2rem;
}

.create > button {
  cursor: pointer;
  user-select: none;
  letter-spacing: 1px;
  font-weight: bolder;
  padding: 0.5rem 1.5rem;
  background-color: antiquewhite;
  border-radius: 0.5rem;
  transition: all 200ms ease-in-out;
  font-size: 24px;
  margin-top: 2rem;
}

.create > button:hover {
  transform: scale(1.03) rotate(3deg) ;
  box-shadow: 10px 10px 31px 0px rgba(255, 255, 255, 0.4);
}

/* SELECT TASK PRIORITY */

.selectPriority {
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 1rem 0 0 1rem;
  font-size: 25.5px;
}

/* ADD NEW TASK DIV */

.addNewTaskFrom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.divInputsForTask {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.divInputsForTask > input {
  width: 100%;
  height: 50px;
  padding-left: 1rem;
  border: none;
  font-size: 28px;
  transition: all 300ms ease-in-out;
}

.divInputsForTask > input:focus {
  width: 100%;
  border-radius: 1rem;
  background-color: black;
  color: white;
  box-shadow: 10px 10px 31px 0px rgba(255, 255, 255, 0.4);
  margin-top: 0.2rem;
}

/* DELETE MAIN TASK BUTTONS DIV */

.deleteMainTaskBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin: -1rem 1rem 0 0;
}




.primaryBtn,
.dangerBtn {
  cursor: pointer;
  user-select: none;
  letter-spacing: 1px;
  font-weight: bolder;
  padding: 0.5rem 1.5rem;
  background-color: antiquewhite;
  border-radius: 0.5rem;
  transition: all 200ms ease-in-out;
  font-size: 24px;
  margin-top: 2rem;
  width: 98%;
  margin: 1rem auto 0 auto;
}

.primaryBtn:hover,
.dangerBtn:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 31px 0px rgba(255, 255, 255, 0.4);
}

.dangerBtn {
  background-color: red;
  color: white;
}

/* CREATE, ADD AND DELETE BUTTONS DIV */

.createBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}


@media screen and (max-width: 1300px) {
  .line {
    border: 10px solid rgb(72, 72, 72);
  }

  .create {
    width: 90%;
  }
}

@media screen and (max-width: 980px) {
  .line {
    display: none;
  }

  .arrowBtn {
    display: block;
  }

  .container {
    width: 100%;
    flex-direction: column;
  }

  .sliders {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .arrowBtn {
    font-size: 32px;
  }

  .create > select {
    width: 60%;
  }
}

@media screen and (max-width: 570px) {
  .create {
    width: 95%;
  }

  .divInputs > textarea {
    max-width: 400px;
  }

  .create > select {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .selectTasks {
    font-size: 24px;
  }

  .divInputs > textarea {
    max-width: 300px;
  }

  .create > select {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .create {
    width: 100%;
  }
  
  .divInputs > textarea {
    font-size: 20px;
  }

  .create > select {
    font-size: 20px;
  }

  .create > button {
    font-size: 20px;
  }

  .divInputs > label {
    font-size: 22px;
  }

  .create > h2 {
    font-size: 20px;
  }

  .divInputs > textarea {
    max-width: 200px;
  }
}

@media screen and (max-width: 250px) {
  .selectTasks {
    font-size: 18px;
  }

  .divInputs > textarea {
    max-width: 150px
  }
}

@media screen and (max-width: 200px) {
  .divInputs > textarea {
    max-width: 100px
  }

  .divInputs > textarea {
    font-size: 16px;
  }

  .create > select {
    font-size: 16px;
  }

  .create > button {
    font-size: 16px;
  }

  .divInputs > label {
    font-size: 18px;
  }

  .create > h2 {
    font-size: 16px;
  }
}