.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;
  text-align: center;
  user-select: none;
  overflow-y: auto;
  height: 100%;
}

.name > h2 {
  color: white;
  letter-spacing: 2px;
  margin: 1rem 0;
}

.followersAndFollowing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.followersAndFollowing > h2 {
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 300ms ease-in-out;
  color: white;
}

.followersAndFollowing > h2 > span {
  color: #45f3ff;
}

.followersAndFollowing > h2:hover {
  transform: scale(1.05);
}

.image img {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  object-fit: cover;
}

.image img:hover {
  transform: scale(1.03);
  opacity: 0.5;
}

.line {
  width: 90%;
  border-radius: 100%;
  background-color: white;
}

/* INPUTS */

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
  width: 35%;
}

.inputs > input {
  text-align: center;
  transition: all 300ms ease-in-out;
  width: 85%;
  border-radius: 0.5rem;
  border: none;
  font-size: 20px;
  user-select: none;
}

.inputs > input:focus {
  width: 100%;
  border-radius: 1rem;
  background-color: black;
  color: white;
  box-shadow: 10px 10px 31px 0px rgba(255, 255, 255, 0.4);
  margin-top: 0.2rem;
}

/* LAST BTNS */

.lastBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100px;
  min-height: 80px;
  flex-wrap: wrap;
}

.btnPrimary,
.btnPrimary1 {
  cursor: pointer;
  user-select: none;
  letter-spacing: 1px;
  font-weight: bolder;
  padding: 0.5rem 1.5rem;
  background-color: antiquewhite;
  border-radius: 0.5rem;
  transition: all 200ms ease-in-out;
  font-size: 24px;
  margin: 1rem 0;
}

.btnPrimary:hover,
.btnPrimary1:hover {
  transform: rotate(6deg) scale(1.05);
  margin-top: 2.5rem;
  box-shadow: 10px 10px 31px 0px rgba(255, 255, 255, 0.4);
}

.btnPrimary1 {
  background-color: rgb(255, 65, 65);
  color: white;
}

/* ERROR NOT FOUND */

.notFound {
  display: flex;
  align-items: center;
  height: 150px;
  cursor: pointer;
}

.notFound > h2 {
  font-size: 84px;
  text-align: center;
  letter-spacing: 1rem;
  transition: all 250ms ease-in-out;
}

.notFound > h2:hover {
  transform: scale(1.05);
  margin-bottom: 1rem;
}


/* Followers and Following users box */

.divForUsers {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 99%;
  margin: 0 auto 2rem auto;
  background-color: rgba(250, 235, 215, 0.106);
  border-radius: 1rem;
  padding: 1rem;
  height: 95%;
}

.xBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 1rem 0 1rem 1rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.xBtn:hover {
  transform: scale(1.05);
}

.usersNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 2rem 0;
  gap: 0.5rem;
  height: 40px;
}

.usersNavBar > span {
  color: #45f3ff;
  width: 20px;
  transition: all 300ms ease-in-out;
  }

  .usersNavBar > span:hover {
    margin-bottom: 0.5rem;
  }

  .usersNavBar > h2 {
    letter-spacing: 1px;
    font-weight: 100;
    cursor: pointer;
  transition: all 300ms ease-in-out;
  }

  .usersNavBar > h2:hover {
    margin-bottom: 0.5rem;
  }

  .usersRendering {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .userTemplate {
    width: 100%;
  }

  .userTemplate > div:first-child {
    width: 80%;
  }

  .userTemplate > div:last-child {
    width: 20%;
  }

  .userTemplate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: rgba(250, 235, 215, 0.116);
    border-radius: 1rem;
  }

  .userTamplateTop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
  }

  .userTamplateTop > img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }

  .userTamplateTop > h2 {
    font-size: 16px;
    letter-spacing: 1px;
    word-wrap: break-word;
  }

  .userTamplateBottom > button {
    cursor: pointer;
    user-select: none;
    letter-spacing: 1px;
    font-weight: bolder;
    padding: 0.5rem 1rem;
    background-color: antiquewhite;
    border-radius: 0.5rem;
    transition: all 200ms ease-in-out;
    font-size: 10px;
  }
  
  .userTamplateBottom > button:hover {
    transform: rotate(6deg) scale(1.05);
    margin-top: 0.5rem;
    box-shadow: 10px 10px 31px 0px rgba(255, 255, 255, 0.4);
  }

  .h2Border {
    border-bottom: 1.5px solid #45f3ff;
    border-radius: 0.5rem;
  }
  

@media screen and (max-width: 1500px) {
  .inputs {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .inputs {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .inputs {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .inputs {
    width: 95%;
  }

  .btnPrimary,
  .btnPrimary1 {
    font-size: 18px;
    margin: 0;
  }

  .followersAndFollowing > h2 {
    font-size: 18px;
  }

  .name > h2 {
    font-size: 18px;
  }

  .image img {
    width: 150px;
    height: 150px;
  }

  .notFound > h2 {
    font-size: 44px;
    height: 0px;
  }
}

@media screen and (max-width: 200px) {
  .image img {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
  }

  .notFound > h2 {
    font-size: 24px;
  }
}
